/*header*/
.header__icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 350px;
    padding: 20px;
    color: #3C2F2F;
}
.fa-search{
    color: #3C2F2F;
}

.fa-arrow-left{
    color: #3C2F2F;
}

.big-burger__image{
    display: flex;
    margin: 0 auto;
}

/*burger info*/
.burger__information{
    padding: 20px;
}
.burger__header{
    font-family: 'roboto';
    color: #3C2F2F;
}

.fa-star{
    color: #FF9633;
}

.burger__rating{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'roboto';
    color: #808080;
}

.burger-info__txt{
    font-family: 'roboto';
    color: #808080;
}

.burger__settings{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 300px;
}

.burger-settings__txt{
    font-family: 'roboto';
    font-size: 14px;
    font-weight: bold;
}
.button__plus{
    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: #EF2A39;
    border-radius: 10px;
    cursor: pointer;
}
.amount{
    text-align: center;
    font-family: 'roboto';
}

.fa-plus{
    color: white;
}
.fa-minus{
    color: white;
}

.button_minus{
    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: #EF2A39;
    border-radius: 10px;
    cursor: pointer;
}