* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#wrapper {
    width: 430px;
    height: 875px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

